<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.cloud-tresor.de/model/proxy"
            class="proxy.ProxyPackage"
            genModel="src/de/cloudtresor/model/proxy.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.cloud-tresor.de/model/proxy/endpoint"
            class="proxy.endpoint.EndpointPackage"
            genModel="src/de/cloudtresor/model/proxy.genmodel"/>
   </extension>

</plugin>
